.modal-span {
  cursor: pointer;
  color: #303f9f;
  font-weight: bold;
}

table > tbody > tr > td > .modal-measure, table > tbody > tr > td > .modal-product, table > tbody > tr > td > .modal-group, .modal-measure, table > tbody > tr > td > .modal-price {
  cursor: pointer;
  color: #303f9f;
  font-weight: bold;
}