.multi-select-col >div{
  background: none;
}
.multi-select-col button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.multi-select-col > div {
  padding-right: 10px !important;
  margin-bottom: 10px !important;
}