
###> symfony/framework-bundle ###
/src/.env.local
/src/.env.local.php
/src/.env.*.local
/src/.env
/src/config/secrets/prod/prod.decrypt.private.php
/src/public/bundles/
/src/var/
/src/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/src/.phpcs-cache
/src/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/src/node_modules/
/src/public/build/
/src/npm-debug.log
/src/yarn-error.log
###< symfony/webpack-encore-bundle ###

/.idea
/docker/pgdata
/docker/logs
/docker/ssl/localhost.*
/src/files/
/src/public/css/*/*.css
/src/public/css/*/*.css.map

