{% if app.session.getFlashBag().has('checked') %}
    {% set checked = app.flashes('checked') %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center card-head">
            <div></div>
            <span class="white-text mx-3 tab-header">{% block header %} {% endblock %}</span>
            <div></div>
        </div>
        <div class="card card-cascade narrower card-cont">
            <div class="px-4">
                {% block form %} {% endblock %}
            </div>
        </div>
    </div>
</div>