<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card card-cascade narrower new-card" data-toggle="modal" data-target="#createModal">
        <div class="text-center">
            <button type="button"
                    class="btn btn-outline-white btn-sm px-2">
                <span class="plus-icon"></span>
            </button>
        </div>
    </div>
</div>