<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Jesteś pewien?</p>
            </div>
            <div class="modal-body">
                <i class="fas fa-times fa-4x animated rotateIn"></i>
            </div>
            <div class="modal-footer flex-center">
                <button type="button" class="btn btn-outline-danger delete-button" data-dismiss="modal">Tak</button>
                <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Nie</a>
            </div>
        </div>
    </div>
</div>